AdventureWorksSL/Service References/ProductCatalogServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCatalogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AdventureWorks.Domain.ModelObjects.DataTransfer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductCatalogService_GetProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="IProductCatalogService_GetProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCatalogService_GetProductDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetail" />
  </wsdl:message>
  <wsdl:message name="IProductCatalogService_GetProductDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductCatalogService">
    <wsdl:operation name="GetProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCatalogService/GetProductList" message="tns:IProductCatalogService_GetProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCatalogService/GetProductListResponse" message="tns:IProductCatalogService_GetProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCatalogService/GetProductDetail" message="tns:IProductCatalogService_GetProductDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCatalogService/GetProductDetailResponse" message="tns:IProductCatalogService_GetProductDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductCatalogService" type="tns:IProductCatalogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductList">
      <soap:operation soapAction="http://tempuri.org/IProductCatalogService/GetProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetail">
      <soap:operation soapAction="http://tempuri.org/IProductCatalogService/GetProductDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductCatalogService">
    <wsdl:port name="BasicHttpBinding_IProductCatalogService" binding="tns:BasicHttpBinding_IProductCatalogService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/AdventureWorksServices.Products/ProductCatalogService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>